<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="ISO-8859-1">
<title>Send Document</title>

<th:block th:include="fragments/headerinc :: head"></th:block>



</head>
<body>
	<th:block th:include="fragments/header :: header"></th:block>
	<br>
	<h2 align="center">SEND DOCUMENT</h2>
	<br>
	<div class="col-md-4 offset-md-4">
		<form class="form-horizontal" th:action="@{/dosavedocument}" method="post" enctype="multipart/form-data">
			<fieldset>

				<!-- Form Name -->
				

				<!-- File Button -->
				<div class="form-group">
					<label class="control-label" for="document"><b>Select Your Document</b></label>
					<div>
						<input id="document" name="document" class="input-file"
							type="file" required="">
					</div>
				</div>

				<!-- Text input-->
				<div class="form-group">
					<label class=" control-label" for="recipient_name">Recipient
						Name </label>
					<div>
						<input id="recipient_name" name="recipient_name" type="text"
							placeholder="" class="form-control input-md" required="">

					</div>
				</div>

				<!-- Text input-->
				<div class="form-group">
					<label class="control-label" for="recipient_email">Recipient
						Email</label>
					<div>
						<input id="recipient_email" name="recipient_email" type="email"
							placeholder="" class="form-control input-md" required="">

					</div>
				</div>

				<!-- Text input-->
				<div class="form-group">
					<label class="control-label" for="email_subject">Email
						Subject</label>
					<div>
						<input id="email_subject" name="email_subject" type="text"
							placeholder="" class="form-control input-md" required="">

					</div>
				</div>

				<!-- Textarea -->
				<div class="form-group">
					<label class="control-label" for="message">Write a Message for Recipient</label>
					<div>
						<textarea class="form-control" id="email_message" name="email_message" required=""></textarea>
					</div>
				</div>

				<!-- Button -->
				<div class="form-group">
					<label class="control-label" for="submit"></label>
					<div>
						<button id="submit" name="submit" type="submit" value="submit" class="btn btn-primary">Send
							Document</button>
					</div>
				</div>

			</fieldset>
		</form>
	</div>
	<br>


<th:block th:include="fragments/footer :: footer"></th:block>
</body>
</html>